{% load auth_extras %}
{% load static %}

<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
      <!-- <img src="{% static 'assets/img/icons/white-icon-nobg.png' %}" alt="Makon Book Logo" style="height: 42px; margin-right: 10px;">
      <h1 style="margin: 0;">MAKON BOOK</h1> -->
      <img src="{% static 'assets/img/icons/SAT MAKON logo 3.png' %}" alt="SatMakonLogo" style="margin: 0;">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>

        {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a href="#">
              <span>
                {{ user.first_name }} {{ user.last_name }}
                <i class="fa fa-user-circle-o" style="margin-left: 18px;"></i>
              </span>
              <i class="bi bi-chevron-down dropdown-indicator" style="margin-right: 44px;"></i>
            </a>

            <ul>
              <li>
                <a href="{% url 'edit_profile' %}">
                  <i class="fa fa-user"></i>My Profile
                </a>
              </li>

              <li>
                <a href="{% url 'enter_secret_code' %}">
                  <i class="fa fa-key"></i> Enter Code
                </a>
              </li>

              {% if request.user.is_staff or request.user.is_superuser %}
              <li>
                <a href="{% url 'admin_dashboard' %}">
                  <i class="fa fa-shield"></i> Admin Panel
                </a>
              </li>
              {% endif %}

              {% if request.user|has_group:"dev" %}
              <li>
                <a href="{% url 'dev_dashboard' %}">
                  <i class="fa fa-cogs"></i> Dev Mode
                </a>
              </li>
              {% endif %}

              <li>
                <a href="{% url 'logout' %}">
                  <i class="fa fa-sign-out"></i> Logout
                </a>
              </li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>