<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/rankings.css' %}">
</head>
<body>
    <main>
        <div id="header">
            <h1>Ranking</h1>
        </div>xzx  s 
        <div id="leaderboard">
            <div class="ribbon"></div>
            <table>
                {% for result in results %}
                <tr>
                    <td class="number">{{ forloop.counter }}</td>
                    <td class="name">{{ result.user }}</td>
                    <td class="points">
                        {{ result.score }} 
                        {% if forloop.first %}
                        <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <!-- <div id="buttons">
                <button class="exit">Exit</button>
                <button class="continue">Continue</button>
            </div> -->
        </div>
    </main>
</body>
</html>
